/* Nav Action */

.ty-navlist-action {
    display: flex;
    justify-content: space-between;
    font-family: 'Outfit', sans-serif;
    margin-top: 15px;
    padding: 0 15px !important;
    position: relative;
}

.ty-btn-back {
    text-decoration: none;
    background-color: #1D9BF0;
    color: #fff;
    padding: 6px 12px;
    border-radius: .5rem;
}

.ty-btn-reset {
    text-decoration: none;
    background-color: #DC3545;
    color: #fff;
    padding: 6px 12px;
    border-radius: .5rem;
    border: none;
}

.ty-btn-download {
    text-decoration: none;
    margin-left: 15px;
    background-color: #198754;
    color: #fff;
    padding: 8px 12px;
    border-radius: .5rem;
}

.ty-btn-back:hover {
    background-color: #1289d8;
    color: #fff;
    transition: 0.3s;
}

.ty-btn-reset:hover {
    background-color: #bb2837;
    transition: 0.3s;
}

.ty-btn-download:hover {
    background-color: #126c42;
    color: #fff;
    transition: 0.3s;
}

/* End Nav Action */

/* Preview */

.ty-preview {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px 10px !important;
    width: 100%;
}

.ty-preview-wrapper {
    width: 500px;
    padding: 20px;
    font-family: 'Lato', sans-serif;
}

.ty-preview-header {
    display: flex;
    align-items: center;
}

img.ty-photo-profile {
    width: 60px;
    height: 60px;
    object-fit: cover;
}

.ty-preview-header-username {
    width: 100%;
    margin-left: 15px;
}

.ty-preview-header-username h2 {
    margin: 0;
    cursor: default;
}

.ty-name-user {
    font-size: 20px;
    font-weight: bold;
    cursor: default;
}

.ty-verified-icon {
    color: #1D9BF0;
    font-size: 19px;
}

.ty-username-user {
    text-transform: lowercase;
    font-size: 18px;
    color: #818E9B;
}

.ty-preview-body {
    margin: 15px 0 0 0;
}

.ty-tweet {
    font-size: 18px;
    cursor: default;
}

.ty-date-tweet {
    color: #818E9B;
    margin: 0 0 10px 0;
    cursor: default;
}

.ty-line {
    height: .5px;
    background-color: #818E9B;
}

.ty-footer-content {
    display: flex;
    flex-direction: row;
}

.ty-footer-content p {
    color: #818E9B;
    margin: 10px 0;
    cursor: default;
}

span.ty-bold-text {
    color: #000 !important;
    font-weight: bold;
}

.ty-likes {
    padding-left: 15px;
}

.ty-action-icon {
    display: flex;
    justify-content: space-around;
    margin: 15px 0 0 0;
}

.ty-gray {
    color: #818E9B;
    font-size: 18px;
}

.ty-liked {
    color: #F91880;
    font-size: 18px;
}

/* End Preview */

/* Edit */

.ty-edit {
    background-color: #fff;
    padding: 12px;
    padding-top: 18px;
}

.ty-edit-title {
    text-align: center;
    font-family: 'Outfit', sans-serif;
    margin: 0 0 18px 0;
    cursor: default;
}

.ty-title-line {
    height: 3px;
    background-color: #000;
    border-radius: .5rem;
    width: 30px;
    margin: -8px auto;
    margin-bottom: 12px;
}

.ty-edit-content {
    display: flex;
    flex-direction: row;
}

.ty-label-input {
    font-family: 'Outfit', sans-serif;
}

textarea.form-control {
    resize: none;
    height: 100px;
}

input[type="text"],
input[type="file"],
input[type="time"],
input[type="date"],
select.form-select,
textarea.form-control {
    font-family: 'Outfit', sans-serif;
    border: 1px solid rgb(181, 181, 181);
}

input[type="text"]:focus,
input[type="file"]:focus,
input[type="time"]:focus,
input[type="date"]:focus,
select.form-select:focus,
textarea.form-control:focus {
    font-family: 'Outfit', sans-serif;
    border: 1px solid rgb(181, 181, 181);
}

.ty-left-edit, .ty-middle-edit, .ty-right-edit {
    width: 100%;
    padding: 0 20px;
}

.ty-date-input {
    display: flex;
}

.ty-date-input .mb-2 {
    width: 100%;
}

.ty-date-input .ty-time {
    margin-right: 10px;
}

.btn-info {
    font-family: 'Outfit', sans-serif;
    background-color: #1D9BF0 !important;
    border: 1px solid #1D9BF0 !important;
    color: #fff !important;
}

.btn-outline-info {
    font-family: 'Outfit', sans-serif;
    border: 1px solid #1D9BF0 !important;
    color: #1D9BF0 !important;
}

.btn-outline-info:hover {
    background-color: #1D9BF0 !important;
    color: #fff !important;
}

.btn-outline-info:focus {
    background-color: #1D9BF0 !important;
    color: #fff !important;
}

.btn-check:checked+.btn-outline-info {
    font-family: 'Outfit', sans-serif;
    background-color: #1D9BF0 !important;
    border: 1px solid #1D9BF0 !important;
    color: #fff !important;
}

.btn-outline-info.liked {
    color: #F91880 !important;
    border: 1px solid #F91880 !important;
}

.btn-outline-info.liked:hover {
    background-color: #F91880 !important;
    color: #fff !important;
}

.btn-outline-info.liked:focus {
    background-color: #F91880 !important;
    color: #fff !important;
}

.btn-check:checked+.btn-outline-info.liked {
    background-color: #F91880 !important;
    border: 1px solid #F91880 !important;
    color: #fff !important;
}

.ty-developer {
    font-size: 12px;
    font-family: 'Outfit', sans-serif;
    text-align: center;
    margin: 26px 0 0 0;
    cursor: default;
}

/* End Edit */

/* Light Theme */

.ty-light-theme {
    background-color: #fff;
}

/* End Light Theme */
/* Dim Theme */

.ty-dim-theme {
    background-color: #15202B;
    color: #fff;
}

.ty-bold-text.ty-dim-theme {
    color: #fff !important;
}

/* End Dim Theme */
/* Dark Theme */

.ty-dark-theme {
    background-color: #000;
    color: #fff;
}

.ty-bold-text.ty-dark-theme {
    color: #fff !important;
}

/* End Dark Theme */
/* Pink Theme */

.ty-pink-theme {
    background-color: #FFC4E1;
}

/* End Pink Theme */
/* Lime Theme */

.ty-lime-theme {
    background-color: #CDF2CA;
}

/* End Lime Theme */
/* Mocca Theme */

.ty-mocca-theme {
    background-color: #FFE6BC;
}

/* End Mocca Theme */

@media (max-width: 992px) {
    .ty-edit-content {
        flex-direction: column;
    }

    .ty-btn-download {
        margin-left: 8px;
    }
}

@media (max-width: 576px) {
    .ty-preview-wrapper {
        width: 100%;
    }
}