@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: linear-gradient( 109.6deg,  rgb(217, 235, 251) 11.2%, rgb(220, 237, 245) 100.2% );
}